{% extends 'common/base.html' %}

{% block title %}Energy Prices{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Energy Prices</h1>

    {% if prices %}
        <div class="price-container">
            {% for price in prices %}
                <a href="{% url 'price_details' price.date %}" class="price-cell text-decoration-none">
                    <h4>PRICE FOR</h4>
                    <div class="date">{{ price.date }}</div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No prices available.</p>
    {% endif %}
</div>

{% endblock %}
