{% extends 'common/base.html' %}

{% block title %}Energy Prices{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Energy Prices</h1>

    {% if prices %}
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Hourly Data</th>
                </tr>
            </thead>
            <tbody>
                {% for price in prices %}
                <tr>
                    <td>{{ price.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">No prices available.</p>
    {% endif %}
</div>
{% endblock %}
