{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Welcome to Energy Stats</h1>
    <h3>Dashboard</h3>
    <p>Your one-stop platform for electricity prices and market statistics.</p>

    <div class="row justify-content-center">
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Price per kWh" value=hourly_info_value %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Average Price" value=average_price %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Off-Peak Market" value=average_price_off_peak %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Peak Market" value=average_price_peak %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Min Price" value=min_price %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Max Price" value=max_price %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Total Volume" value=total_volume %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Volume" value=current_volume %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Min Volume" value=min_volume %}
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="info-card">
                {% include 'common/info_cell.html' with title="Max Volume" value=max_volume %}
            </div>
        </div>
    </div>

    <h2 class="mt-5">Prices for {{ today }}</h2>

    <h3 class="mt-4">Peak Market (09:00 - 19:00)</h3>
    <div class="table-responsive">
        <table>
            <tr>
                <th>Time</th>
                {% for hourly_data in peak_hours %}
                    <th>{{ hourly_data.time }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>EUR</td>
                {% for hourly_data in peak_hours %}
                    <td>{{ hourly_data.data.eur }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>BGN</td>
                {% for hourly_data in peak_hours %}
                    <td>{{ hourly_data.data.bgn }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Volume</td>
                {% for hourly_data in peak_hours %}
                    <td>{{ hourly_data.data.volume }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <h3 class="mt-4">Off-Peak Market (All other hours)</h3>
    <div class="table-responsive">
        <table>
            <tr>
                <th>Time</th>
                {% for hourly_data in off_peak_hours %}
                    <th>{{ hourly_data.time }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>EUR</td>
                {% for hourly_data in off_peak_hours %}
                    <td>{{ hourly_data.data.eur }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>BGN</td>
                {% for hourly_data in off_peak_hours %}
                    <td>{{ hourly_data.data.bgn }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Volume</td>
                {% for hourly_data in off_peak_hours %}
                    <td>{{ hourly_data.data.volume }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}
